name: Rust Build

on:
  push:
    branches: ["main"]
  pull_request:

permissions:
  contents: read

jobs:
  build-and-test:
    name: build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Cache cargo
        uses: Swatinem/rust-cache@v2

      - name: Install protoc
        run: |
          sudo apt-get update
          sudo apt-get install -y protobuf-compiler

      - name: Build
        run: cd rust/proto && cargo build --release